<!DOCTYPE html>
<html lang="pt-br">
    <head>
            <meta charset="UTF_8">
            {% block title %}
                <title>Casa Criativa</title>
            {% endblock title %}
            {% include "head.html" %}
            
    </head>       
    <body id="{{ bodyId }}"> 


            <!-- 
                Cada div tem o funcionamento de uma caixa 
                    div#nome para criar um id
                    div.nome para criar uma classe
            -->
            <div id="container">
            {%  block content  %} 
            {% endblock %}
            </div>

            {% include "modal.html" %}
            
            <script src="/script.js"></script>
    </body> 
</html>